---
import Layout from '@layouts/layout.astro';
import Button from '@components/Button/index.tsx';
---

<Layout>
	<main class="container px4 mx-auto bg-light flex flex-col items-center py-24">
		<h1>404 : Cette page n'existe pas</h1>
		<div class="flex flex-wrap gap-8 items-center mt-12">
			<a href="/"><Button>Revenir à l'accueil</Button></a>
			<a href="/portfolio"><Button type="secondary">Voir mon portfolio</Button></a>
		</div>
	</main>
</Layout>
