---
// Component Imports
import Button from '@components/Button/index.tsx';
import ClientBadge from '@components/ClientBadge/index.tsx';
import Layout from '@layouts/layout.astro';
import { Markdown } from 'astro/components';

// Data Fetching: List all Markdown posts in the repo.
const clients = ['Ubisoft', 'Deloitte', 'Pôle emploi', 'RSI', 'CNAMTS', 'URSSAF', 'Commission Européenne', 'Ecolo', 'STIB-MIVB', 'Consigne Greengo'];
---
<Layout currentPath={'/'}>
		<header class="container mx-auto flex flex-col items-center py-24 px-6 gap-6">
			<h1>Pierre Salaün, web developer</h1>
			<p class="text-xl lg:text-2xl max-w-[40ch] mt-4">Ancien consultant, je travaille désormais également avec React ou Ruby on Rails, lorsque Powerpoint ne suffit plus pour résoudre un problème.</p>
			<a class="mt-8" href="mailto:pierre.j.salaun@gmail.com"><Button icon="external">Me contacter</Button></a>
			<div class="flex gap-8 mt-8">
				<a href="https://www.linkedin.com/in/pierre-salaun/" target="_blank"><Button type="secondary" icon="external">Linkedin</Button></a>
				<a href="https://github.com/PSalaun" target="_blank"><Button type="secondary" icon="external">Github</Button></a>
				<a href="https://docs.google.com/document/d/12meT74QFJRBhGbSaZsTLOS-KQpgJDSt5-NBC-iBzSFg/edit?usp=sharing" target="_blank"><Button type="secondary" icon="download">CV</Button></a>
			</div>
		</header>
		<main>
			<section class="bg-dark flex flex-col items-center py-8">
				<h2 class="text-light text-xl">J'ai travaillé notamment pour</h2>
				<div class="flex flex-row justify-center gap-6 flex-wrap max-w-5xl mt-12">
					{clients.map(client => (
						<ClientBadge>{client}</ClientBadge>
					))}
				</div>
			</section>
			<section class="container mx-auto flex flex-col items-center px-4 py-24">
				<div class="prose prose-lg lg:prose-xl prose-stone marker:text-dark">
					<Markdown>
						En tant que développeur, j’ai collaboré à la création de 25 sites et app, utilisant principalement **Gatsby**, **React / React Native**, **Ruby on Rails** et **Wordpress**
					
						De manière générale, mes compétences couvrent :
						- **la création de front end** en pur HTML ou langages de templating comme JSX, avec une préférence pour une approche CSS utility-first et le moins d’utilisation possible de librairies telles que MaterialUI pour des raisons de performance;
						- **le développement de back ends** avec une approche monolithique ou serverless;
						- l’utilisation de **bases de données** SQL (Postgres) ou NoSQL (Firebase);
						- la création d’API et d’**interconnexions avec des API** REST ou GraphQL;
						- la **configuration d’environnements de développement et production**, que ce soit avec Docker (ou Dokku) ou la création et configuration de VPS avec Nginx ou Litespeed en tant que serveur web;
						- la conception d’**automatisations basées sur des outils low ou no code**, tels que Zapier, Make, Notion, Airtable, Slack, GSuite.;
						- les activités attendues d’un product owner, consultant ou maître d’ouvrage, telles que le cadrage de projets, la rédaction d’user stories, l’animation de sprints, la création de supports de présentation ou la conception d’ateliers de travail;
						- la création de maquettes Figma ou Adobe XD, dans l’humble limite de mes talents artistiques;
						- l’enseignement du développement web à des publics pas forcément techniques.
					</Markdown>
				</div>
			</section>
		</main>
</Layout>