---
// Component Imports
import Button from '@components/Button/index.jsx';
import PortfolioPreview from '@components/PortfolioPreview/index.jsx';
import Layout from '@layouts/layout.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/**/*.md');
const featuredProject = projects[0];
---
<Layout>
		<header class="w-full flex flex-col items-center py-24 gap-6">
			<h1>Pierre Salaün, web developer</h1>
			<p class="text-2xl max-w-[40ch] mt-4">Ancien consultant, je travaille désormais également avec React ou Ruby on Rails, lorsque Powerpoint ne suffit plus pour résoudre un problème.</p>
			<a class="mt-8" href="mailto:pierre.j.salaun@gmail.com"><Button icon="external">Me contacter</Button></a>
			<div class="flex gap-8 mt-8">
				<a href="https://www.linkedin.com/in/pierre-salaun/" target="_blank"><Button type="secondary" icon="external">Linkedin</Button></a>
				<a href="https://github.com/PSalaun" target="_blank"><Button type="secondary" icon="external">Github</Button></a>
				<a href="https://drive.google.com/file/d/1uIwR3Er7mCAOIFTi3VD6ndn74zu6aQy6/view?usp=sharing" target="_blank"><Button type="secondary" icon="download">CV</Button></a>
			</div>
		</header>
		<main class="wrapper mt4 mb4">
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">Selected Work</h3>
					<PortfolioPreview project={featuredProject} />
					<div class="tac mt4">
						<a href="/projects">
							<Button/>View All</Button>
						</a>
					</div>
				</div>
				<div class="section">
					<h3 class="sectionTitle">About me</h3>
					<p class="bio">
						<span>Hello!</span> I’m Jeanine, and this is my website. It was made using{' '}
						<a href="https://github.com/withastro/astro" target="_blank" rel="nofollow"> Astro </a>, a new way to build static sites. This is just an example template for you to
						modify.
					</p>
					<p>
						<a href="/about">Read more</a>
					</p>
				</div>
			</div>
		</main>
</Layout>