---
export type SEO = {
  title?: string;
  description?: string;
}
import '../styles/global.scss';
const { title, description = "Je suis un développeur web spécialisé en React et Ruby on Rails. J'ai plusieurs années d'expérience en tant que chef de projet métier et consultant en organisation, avant d'avoir décidé d'élargir ma palette de compétences vers le développement web" } = Astro.props;
const titleSuffix = 'Pierre Salaün, développeur web';
const titleWithSuffix = title ? `${title} | ${titleSuffix}` : titleSuffix;

---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{titleWithSuffix}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
