---
import MainHead from '@components/MainHead.astro';
import Footer from '@components/Footer';
import Nav from '@components/Nav';
import Contact from '@components/Contact';

import 'src/styles/global.scss';
const { seo } = Astro.props;
---
<html lang="fr">
	<head>
		<MainHead {...seo}/>
	</head>
	<body class="bg-light">
		<Nav />
			<slot />
		<Contact />
		<Footer />
	</body>
</html>
